<h1>Login form</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
  <h5 *ngIf="success">Your login is valid</h5>

  <label>
    Username:
    <input type="text" formControlName="username">
    <div *ngIf="submitted && loginForm.controls.username.errors">
      <div *ngIf="loginForm.controls.username.errors.required">Enter username</div>
    </div>
  </label>

  <label>
    Password:
    <input type="password" formControlName="password">
    <div *ngIf="submitted && loginForm.controls.password.errors">
      <div *ngIf="loginForm.controls.password.errors.required">Enter password</div>
    </div>
  </label>

  <input type="submit" value="Login">
</form>

<a routerLink="/register">Don't have account?</a>
